.calculator {
  width: 200px;
  margin: 100px auto;
}

input {
  width: 100%;
  height: 40px;
  text-align: right;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
}
.span-two {
  grid-column: span 2; /* Make buttons span across two columns */
}